* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
  min-width: 300px;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-align: center;
}

body {
  background-color: #6b7a38;
}

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  color: #fff;
  text-align: left;
  max-width: 450px;
  margin: 0em auto;
}

.left h1 {
  font-size: 3em;
  padding-bottom: 0.5em;
  font-weight: 600;
}

.left p {
  opacity: 0.5;
  padding-bottom: 3em;
  font-size: 14px;
}

.left a {
  text-decoration: none;
  color: yellow;
  font-weight: 200;
}

.right{
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  box-shadow: 50px 50px 0px 0px #00000046;
  margin-top: 5em;
  margin-bottom: 13em;
  justify-content: center;
  margin: 5em auto;
}

.right form h1 {
  font-size: 18px;
  opacity: 0.5;
  padding-bottom: 0.5em;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  padding-bottom: 26px;
}


form .inputs {
  text-align: left;
  font-size: 15px;
}

form .no,
form .bt {
  display: flex;
  gap: 30px;
}

form input,
form textarea,
form select {
  margin-bottom: 2em;
  padding: 15px;
  border-radius: 5px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}

form select {
  cursor: pointer;
}

form option {
  padding: 100px;
  background-color: rgb(160, 160, 0);
}

.email {
  width: 370px;
}

.btn {
  padding: 2em 20em;
  background-color: #6b7a38;
  border: none;
  border-radius: 2px;
  opacity: 0.7;
}

.btn a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
  opacity: 1;
}


/*.name, .budget, .target, .org{
  flex-direction: column;
}*/

/*Responsiveness*/

@media (max-width: 768px) {
  .contact-form {
    flex-direction: column;
  }

  .left{
    margin-top: 6em;
  }
}

@media (max-width: 425px) {
  .left{
    max-width: 350px;
  }

  .right{
    max-width: 350px;
    box-shadow: 20px 20px 0px 0px #00000046;
  }

  .right  form h1{
    font-size: 15px;
  }

  form .inputs{
    font-size: 12px;
  }

  form input,
  form textarea,
  form select, form .email{
    margin-bottom: 12px;
    width: 30em;
  }
  form .no,
  form .bt{
  flex-direction: column;
  gap: 0;
}

.btn{
  padding: 2em 11.5em;
}
}

@media (max-width: 320px) {
  .left h1{
    font-size: 30px;
  }

  .left{
    max-width: 300px;
    padding: 2em;
  }

  .right{
    max-width: 300px;
  }

  .right form h1{
    font-size: 12px;
  }


    form input,
    form textarea,
    form select,
    form .email{
      width: 25em;
    }

    form .btn{
      padding: 12px 9em;
    }
}
